<!DOCTYPE html>
<html>
	{{- partial "head.html" . -}}
	<body>
		<div class="site">
		{{- partial "header.html" . -}}
		<div class="page">
			<blockquote class="claim{{ if .IsHome }} t-home__claim{{ end }}">
				<p>
				Nährboden für die Zukunft.<br>
				Deine offene Werkstatt.
				</p>
			</blockquote>
			{{- block "before-page" . }}{{- end }}
			{{- block "before-main" . }}{{- end }}
			{{- block "main" . }}{{- end }}
			{{- block "after-main" . }}{{- end }}
			{{- block "after-page" . }}{{- end }}
		</div>
		{{- partial "footer.html" . -}}
		</div>
		<script type="text/javascript" src="/assets{{ if eq (getenv "APP_ENV") "dev" }}/main.js{{ else }}{{ index .Site.Data.manifest "main.js" | relURL }}{{ end }}"></script>
		{{ if not (eq (getenv "APP_ENV") "dev") }}
		<noscript><img src="https://statistik.das-habitat.de/matomo.php?idsite=1&amp;rec=1" style="border:0;" alt="" /></noscript>
		{{- end }}
	</body>
</html>
