{{- define "before-page" }}
{{- if .Params.statement }}
	<h1 class="page__title page__title--statement">{{ .Title }}</h1>
	{{- with .Params.stage }}
	<figure class="stage">
		<img src="{{ .src }}" alt="{{ .alt }}" width="{{ .width }}" height="{{ .height }}">
	</figure>
	{{- end }}

	<div class="statement">
		<blockquote>
			<p>{{ htmlUnescape .Params.statement }}</p>
		</blockquote>
	</div>
{{- else }}
	<h1 class="page__title">{{ .Title }}</h1>
{{- end }}
{{- end }}

{{ define "main" }}
	<main class="main main--grid">
		<div class="cs1-lg c3-lg">
			<h2>Das Wichtigste auf einen Blick</h2>

			{{ partial "contact.html" (dict "context" .) }}
		</div>

		<div class="cs4-lg sm:mt-lg">
			<h2>E-Mail schreiben</h2>
			{{- partial "forms/contact.html" . -}}
		</div>

		<div class="mt-lg">
			{{ .Content }}
		</div>
	</main>
{{ end }}
