{{- define "before-page" }}
	<h1 class="page__title page__title--statement">{{ .Title }}</h1>
	{{- with .Params.stage }}
	<figure class="stage">
		<img src="{{ .src }}" alt="{{ .alt }}" width="{{ .width }}" height="{{ .height }}">
	</figure>
	{{- end }}

	{{- if .Params.statement }}
	<div class="statement">
		<blockquote>
			<p>{{ htmlUnescape .Params.statement }}</p>
		</blockquote>
	</div>
	{{- end }}
{{- end }}

{{ define "main" }}
	<main class="main main--grid">
		{{ range (where .Pages "Date" "ge" now).GroupByDate "2006-01-01" "asc" }}
		<div class="events">
			<h2>{{ index $.Site.Data.intl.months (string (dateFormat "1" .Key)) }} {{ dateFormat "2006" .Key }}</h2>

			<ul class="plain events__list">
				{{ range .Pages }}
					<li>
						<article class="event">
							<time datetime="{{ .Date }}">
								{{ index $.Site.Data.intl.weekdays (string (time .Date).Weekday) }}, {{ .Date.Format "2." }} {{ index $.Site.Data.intl.months (string (dateFormat "1" .Date)) }} {{ .Date.Format "2006 ab 15:04" }}
							</time>

							<h3>
								{{- if .Params.link }}
								<a href="{{ .Params.link }}">{{ .Title }}</a>
								{{- else }}
									{{ .Title }}
								{{- end }}
							</h3>

							<div>
								{{ .Content }}
							</div>

							<footer>
							</footer>
						</article>
					</li>
				{{ end }}
			</ul>
		</div>
		{{ end }}

		<hr>

		<div class="cs3-lg c3-lg large mt-lg">
			{{ .Content }}
		</div>
	</main>
{{ end }}
