{{- define "before-page" }}
	{{- with .Params.stage }}
	<figure class="stage">
		<img src="{{ .src }}" alt="{{ .alt }}" width="{{ .width }}" height="{{ .height }}">
	</figure>
	{{- end }}

	<div class="statement t-home__statement">
		<blockquote>
			<p>{{ htmlUnescape .Params.statement }}</p>
		</blockquote>
	</div>
{{- end }}

{{- define "main" -}}
	<main>
		{{- .Content }}

		<h2>Finde dein nächstes Projekt</h2>
		{{- partial "courses-tags.html" (dict "context" .)}}

		<ul class="list-courses">
			{{- range .Pages }}
				<li class="list-courses__item">
					<img
						class="list-courses__image"
						src="{{ .Params.teaser.src }}"
						alt="{{ .Params.teaser.alt }}"
						width="{{ .Params.teaser.width }}"
						height="{{ .Params.teaser.height }}"
					/>

					<a href="{{ .RelPermalink }}">
						{{ .Title }} &rarr;
					</a>

					<p>
						{{ .Params.cost.fee }}
						{{- if isset .Params.cost "material" }} Gebühren +
						{{ .Params.cost.material }} Material
						{{- end }}
					</p>
				</li>
			{{- end }}
		</ul>

		<h3>Vermisst du einen Kurs oder sollen wir ein Thema / Workshop in unser Programm aufnehmen?</h3>
		<p>Schreib uns deinen Wunsch!</p>
		{{ partial "contactform.html" (dict "context" . "class" "t-home__contact") }}
	</main>
{{ end }}
