{{- define "before-page" }}
{{- if .Params.statement }}
	<h1 class="page__title page__title--statement">{{ .Title }}</h1>
	{{- with .Params.stage }}
	<figure class="stage">
		<img src="{{ .src }}" alt="{{ .alt }}" width="{{ .width }}" height="{{ .height }}">
	</figure>
	{{- end }}

	<div class="statement">
		<blockquote>
			<p>{{ htmlUnescape .Params.statement | markdownify }}</p>
		</blockquote>
	</div>
{{- else }}
	<h1 class="page__title">{{ .Title }}</h1>
{{- end }}
{{- end }}

{{ define "main" }}
	<main class="main{{ if .Params.grid}} main--grid{{ end }}">
		{{ .Content }}
	</main>
{{ end }}
