{{- define "before-page" }}
	{{- with .Site.GetPage "kurse" .Section }}
		<h1 class="before-none">
			{{ .Title }}
		</h1>
	{{- end }}

	{{ $page := . }}
	{{- with (where $.Site.Pages "Section" .Section) }}
	<nav class="tabs">
		<ul>
		{{- range . }}
			<li>
				{{- if eq . $page }}
				<strong>
					{{ .LinkTitle }}
				</strong>
				{{- else }}
				<a href="{{ .RelPermalink }}">
					{{ .LinkTitle }}
				</a>
				{{- end }}
			</li>
		{{- end }}
		</ul>
	</nav>
	{{- end }}
{{- end }}

{{ define "main" }}
	<main class="main{{ if .Params.grid}} main--grid{{ end }}">
		{{ .Content }}
	</main>
{{ end }}
