{{ define "main" }}

	{{- with .Params.stage }}
	<figure class="stage t-machine__stage">
		<img src="{{ .src }}" alt="{{ .alt }}" width="{{ .width }}" height="{{ .height }}">
	</figure>
	{{ else }}
	<figure class="stage t-machine__stage">
		<img src="/placeholder.svg" alt="" width="1000" height="750">
	</figure>
	{{- end }}

	<div class="t-machine__technical">
		<h1>{{ .Title }}</h1>
		<div class="larger">
			<blockquote>
				<p>{{ htmlUnescape .Params.statement }}</p>
			</blockquote>
		</div>
	</div>


	<main class="main main--grid">
		<ul class="sponsors">
			{{- range .Site.Data.termine }}
			<p>test</p>
			<li>
				<a href="{{ .href }}" target="_blank" rel="noopener">
					<img
						src="/logos/{{ .id }}.svg"
						alt="{{ .name }} - {{ .description }}"
						height="50"
						loading="lazy"
					/>
					{{ .text }}
					{{ .date }}
				</a>
			</li>
			{{- end }}
		</ul>

		{{- if .Params.grid}}
			{{ .Content }}
		{{- else }}
			<div class="t-machine__content">
				{{ .Content }}
			</div>
		{{- end }}
	</main>
{{ end }}
