node_modules
resources
dist
/data/manifest.json
.DS_Store
/themes/habitat/static/assets/main.js
/themes/habitat/static/assets/main.css
/themes/habitat/static/assets/main.*.js
/themes/habitat/static/assets/main.*.css
/.hugo

.now
themes/habitat/static/assets/*.woff2
