.footer {
	margin-top: calc(3 * var(--offset-vertical));
	background: mix($color-brand-pale, $color-brand-white, 20%);

	a {
		&,
		&:link,
		&:visited {
			color: inherit;
			box-shadow: 0 2px 0 0 transparentize($color-brand-black, 0.7);
		}
	}
}

.footer__inner {
	@include grid-columns;
	grid-row-gap: 0;

	> * {
		grid-column: 1 / -1;
		margin: 0 0 var(--offset-vertical);
	}
}

.footer__info {
	grid-column: 1 / span 4;
	margin: calc(2 * var(--offset-vertical)) 0;
}

.footer__copyright {
	grid-column: 1 / span 4;
}

.footer__legal {
	grid-column: 5 / span 4;

	> a + a {
		margin-left: var(--offset-vertical);
	}
}

.footer__sponsors {
	margin: 0;
	padding: calc(2 * var(--offset-vertical)) 0;
	grid-column: 1/-1;
	background: mix($color-brand-pale, $color-brand-white, 30%);
}
