.footer {
	margin-top: var(--offset-vertical-3);
	background: mix($color-brand-pale, $color-brand-white, 20%);

	a {
		&,
		&:link,
		&:visited {
			color: inherit;
			box-shadow: 0 2px 0 0 transparentize($color-brand-black, 0.7);
		}
	}
}

.footer__inner {
	@include grid-columns;
	grid-row-gap: 0;

	> * {
		grid-column: 1 / -1;
		margin: 0 0 var(--offset-vertical);
	}

	nav {
		@include media-lg {
			grid-column: 4 / -1;
		}

		display: flex;

		h3 {
			font-weight: 600;
			font-size: inherit;
			line-height: inherit;
		}

		div {
			padding-top: var(--offset-vertical-2);

			+ div {
				margin-left: calc(2 * var(--offset-horizontal));
			}
		}

		a {
			@include link-plain-default;

			display: inline-block;
			margin-bottom: var(--offset-vertical);
		}
	}
}

.footer__logo {
	display: block;
	margin: -3rem 0 0 -3rem;
}

.footer__claim {
	color: $color-brand-gray;
	margin-bottom: var(--offset-vertical);
}

.footer__info {
	grid-column: 1 / span 3;
	margin: var(--offset-vertical-2) 0;
}

.footer__copyright {
	grid-column: 1 / span 4;

	@include media-sm {
		margin: 0;
	}
}

.footer__legal {
	@include media-lg {
		grid-column: -5 / span 4;
		justify-self: end;
	}

	> a + a {
		margin-left: var(--offset-vertical);
	}
}

.footer__sponsors {
	overflow: hidden;
	margin: 0;
	padding: var(--offset-vertical-2) 0;
	grid-column: 1/-1;
	background: mix($color-brand-pale, $color-brand-white, 30%);

	p {
		@include media-lg {
			grid-column: 5 / span 3;
		}
	}
}

.footer__note {
	padding: var(--offset-vertical) 0 0;
	background: mix($color-brand-pale, $color-brand-white, 40%);
}
