main {
	p,
	ul,
	ol {
		@include media-lg {
			box-sizing: border-box;
			max-width: calc(var(--grid-column) * 5 + var(--grid-column-gap) * 4);
		}
	}
}

.main--grid {
	@include grid;

	> * {
		grid-column: 1 / -1;
	}
}
