.page {
	@include grid-columns;

	> * {
		grid-column: 1 / -1;
	}
}

.page__title {
	margin-bottom: 0;

	@include media-lg {
		grid-column: 3 / span 4;

		& + .stage {
			margin-top: calc(-1 * var(--grid-row-gap));
		}
	}
}
