.sponsors {
	margin: 0 calc(-1 * var(--offset-vertical));
	list-style: none;

	li {
		display: inline-block;
	}

	a {
		@include link-plain;

		display: inline-block;
		overflow: hidden;
		height: var(--offset-vertical-4);
	}

	img {
		display: block;
		height: calc(5 * var(--offset-vertical));
		width: auto;
		margin: calc(-0.5 * var(--offset-vertical)) calc(-1 * var(--offset-vertical));
	}

	@include media-sm {
		a {
			height: var(--offset-vertical-2);
		}

		img {
			height: var(--offset-vertical-3);
			margin: calc(-0.5 * var(--offset-vertical)) calc(-0.25 * var(--offset-vertical));
		}
	}
}
