.sponsors {
	margin: 0 calc(-1 * var(--offset-vertical));
	list-style: none;

	li {
		display: inline-block;
	}

	a {
		@include link-plain;

		display: inline-block;
		overflow: hidden;
		height: calc(4 * var(--offset-vertical));
	}

	img {
		display: block;
		height: calc(5 * var(--offset-vertical));
		width: auto;
		margin: calc(-0.5 * var(--offset-vertical)) calc(-1 * var(--offset-vertical));
	}

	@include media-sm {
		a {
			height: calc(2 * var(--offset-vertical));
		}

		img {
			height: calc(3 * var(--offset-vertical));
			margin: calc(-0.5 * var(--offset-vertical)) calc(-0.25 * var(--offset-vertical));
		}
	}
}
