.statement {
	@include box($color-brand-yellow);

	margin: 5rem 0 7rem;
	color: $color-brand-black;
	box-sizing: border-box;
	grid-column: 2 / span 5;
	font-size: 1.5rem;
	line-height: calc(24 / 15);

	@include media-l {
		grid-column: 2 / span 6;
		font-size: 2.8rem;
		line-height: calc(45 / 28);
	}
}
