.stage {
	grid-column: 2 / -1;
	grid-row: 1;
	align-self: start;

	@include media-lg {
		grid-column: 3/-1;
		grid-row: 1;
	}
}

.stage + .statement {
	position: relative;
	z-index: 2;
	margin-top: 30vw;
	margin-bottom: 0;
	grid-row: 1;

	@include media-lg {
		grid-row: 1;
	}
}
