.statement {
	@include box;

	--tint: #{$color-brand-white};
	margin: var(--offset-vertical-3) 0 var(--offset-vertical-3);
	color: $color-brand-black;
	box-sizing: border-box;
	grid-column: 1 / span 5;
	font-size: 1.5rem;
	line-height: calc(24 / 15);
	align-self: start;

	@include media-lg {
		grid-column: 1 / span 6;
		font-size: 2.8rem;
		line-height: calc(45 / 28);

		+ main {
			margin-top: calc(1 * var(--offset-vertical));
		}
	}
}
