.statement {
	@include box;

	--tint: #{$color-brand-white};
	margin: calc(3 * var(--offset-vertical)) 0 calc(3 * var(--offset-vertical));
	color: $color-brand-black;
	box-sizing: border-box;
	grid-column: 1 / span 5;
	font-size: 1.5rem;
	line-height: calc(24 / 15);
	align-self: start;

	@include media-lg {
		grid-column: 1 / span 6;
		font-size: 2.8rem;
		line-height: calc(45 / 28);
	}
}
