.stage {
	grid-column: 2 / -1;

	@include media-lg {
		grid-column: 3/-1;
		margin-top: calc(-3 * var(--offset-vertical));
	}
}

.stage + .statement {
	position: relative;
	z-index: 2;
	margin-top: calc(-10 * var(--offset-vertical));
	margin-bottom: 0;
}
