.events {
	& + .events {
		margin-top: calc(var(--offset-vertical-2) - 2px);
		padding-top: calc(var(--offset-vertical-2) - 1px);
		border-top: 3px solid $color-brand-gray-10;
	}

	li + li {
		margin-top: var(--offset-vertical-2);
	}

	@include media-lg {
		li + li {
			margin-top: var(--offset-vertical-3);
		}
	}
}

.event {
	time {
		display: block;
		font-weight: 600;
		color: $color-brand-gray;
		line-height: 2.5rem;
	}

	h3 {
		margin-top: 0;
	}

	@include media-lg {
		@include grid;

		grid-row-gap: 0;

		time {
			grid-column: 1 / span 2;
		}

		h3 {
			grid-column: 3 / span 4;
			margin-top: 0;
		}

		div {
			grid-column: 3 / span 4;
			margin-top: calc(var(--offset-vertical) / 2);
		}
	}
}
