.feature {
	@include link-plain;

	* + & {
		argin-top: var(--offset-vertical);

		@include media-lg {
			margin-top: var(--offset-vertical-2);
		}
	}
}

.feature__img {
	width: column-width(1);
	margin-right: var(--grid-column-gap);
	flex: 0 0 auto;
	@include link-plain;

	@include media-lg {
		width: column-width(3);
	}

	img {
		width: 100%;
		height: auto;
		flex: 0 0 auto;
	}
}

.feature__content {
	display: flex;
	font-size: 1.8rem;
	color: $color-brand-gray;
	line-height: calc(30 / 18);
}

.feature--reverse {
	.feature__title {
		@include media-lg {
			float: right;
			width: column-width(3);
		}
	}

	.feature__content {
		clear: right;
		flex-flow: row-reverse;
		text-align: right;
	}

	.feature__img {
		margin-right: 0;
		margin-left: var(--grid-column-gap);
	}
}
