.footer {
	margin: 10rem 0 0;
	padding-top: 3rem;
	padding-bottom: 10rem;

	background: mix($color-brand-pale, #fff, 30%);

	> div {
		@include container;

		display: flex;
		justify-content: space-between;
	}

	nav {
		margin-top: 0;
	}
}
