.grid {
  display: grid;
  grid-template-columns: 1fr repeat(4, 14.5rem) 21rem 1fr;
  column-gap: 4rem;
  row-gap: 0;
}

.grid-inner {
  display: grid;
  grid-template-columns: repeat(4, 1fr) 21rem;
  column-gap: 4rem;
}

.grid > * {
  grid-column-start: 2;
  grid-column-end: -3;
}

@for $i from 1 through 5 {
  .column-start#{$i} {
    grid-column-start: $i;
  }

  .column-end#{$i} {
    grid-column-start: $i;
  }

  .column-start-#{$i} {
    grid-column-start: -$i;
  }

  .column-end-#{$i} {
    grid-column-end: -$i;
  }

  .column-span#{$i} {
    grid-column-end: span $i;
  }
}

@include media-lg {
  @for $i from 1 through 5 {
    .lg\:column-start#{$i} {
      grid-column-start: $i;
    }

    .lg\:column-end#{$i} {
      grid-column-start: $i;
    }

    .lg\:column-start-#{$i} {
      grid-column-start: -$i;
    }

    .lg\:column-end-#{$i} {
      grid-column-end: -$i;
    }

    .lg\:column-span#{$i} {
      grid-column-end: span $i;
    }
  }
}

.column-span4,
.column-span-all {
  grid-column-end: span 4;
}

@include media-lg {
  .lg\:column-span4,
  .lg\:column-span-all {
    grid-column-end: span 4;
  }
}
