.header {
	@include grid-flex;

	position: relative;
	background-color: $color-brand-white;

	@include media-lg {
		padding: var(--offset-vertical) 0 0;
	}
}

.header__logo {
	@include link-plain;

	display: block;
	box-shadow: none;
	width: 20.7rem;
	height: 8rem;
	grid-column: 1;
	overflow: hidden;
	justify-self: left;
	transition: width 0.2s ease;

	img {
		display: block;
		width: 20.7rem;
		height: 8rem;
		margin-left: -3rem;
		transition: margin-left 0.2s ease;
	}
}

.header__nav {
	display: none;
	text-align: right;
	align-self: center;
	justify-self: right;

	@include media-lg {
		display: block;
		grid-column: 3 / -1;
	}

	ul,
	li {
		position: relative;
		margin: 0;
		padding: 0;
		display: inline-block;
		list-style: none;
	}

	[role='menu'] {
		padding: 2.5rem;
	}

	> ul {
		&,
		> li {
			margin: 0;
			padding: 0;
			display: inline-block;
			list-style: none;
		}

		> li + li {
			margin-left: var(--offset-vertical);
		}

		ul {
			position: absolute;
		}
	}

	[aria-haspopup] {
		padding-right: 1.5rem;
		background: inline-svg(
				'<svg width="9" height="4" xmlns="http://www.w3.org/2000/svg"><path d="M1.315 0h6.37a.5.5 0 0 1 .332.874L4.5 4 .983.874A.5.5 0 0 1 1.315 0z" fill="#4773A8" fill-rule="evenodd"/></svg>'
			)
			100% 50% no-repeat;
		background-size: 0.9rem 0.4rem;
		cursor: default;
	}
}

.header__subnav {
	margin-top: 2rem;
}

.header__toggle {
	@include plain;
	@include link;

	grid-column: -4 / -1;
	text-align: right;
	align-self: center;
	justify-self: right;
	cursor: pointer;

	outline: 0;
}

div[aria-labelledby='menu-button'] {
	display: none;
}

.header--expanded {
	background: $color-brand-blueAlt;
	margin: 0 0 var(--offset-vertical-2);
	padding-left: var(--offset-outer);
	padding-right: var(--offset-outer);
	padding-bottom: var(--offset-vertical);
}

.header--expanded .header__toggle {
	@include link-inverted;
}

.header--expanded .header__logo {
	width: 4.3rem;

	img {
		filter: invert(100%);
		margin-left: -6.7rem;
	}
}

.header--expanded div[aria-labelledby='menu-button'] {
	display: block;
}

.header--expanded .header__nav {
	display: block;
	width: 100%;
	text-align: left;
	align-self: center;
	justify-self: stretch;
	padding-bottom: var(--offset-vertical);

	ul,
	li {
		display: block;
		margin: 0;
		padding: 0;
	}

	[aria-haspopup='true'] {
		display: none;
	}

	[aria-haspopup='true'] + [role='menu'] {
		position: relative;
		top: 0;
		box-shadow: none;

		li + li {
			border: 0;
		}
	}

	[aria-haspopup='true'] + [role='menu'] a,
	a {
		@include link-inverted;
		@include plain;

		display: block;
		margin: calc(var(--offset-vertical) / 2) 0 0;
		padding: calc(var(--offset-vertical) / 2) 0 0;
	}
}

[aria-haspopup='true'] + [role='menu'] {
	display: none;
	position: absolute;
	top: 2.2rem;
	right: 0;
	min-width: calc(var(--grid-column) + var(--grid-column-gap));
	@include box;
	padding-top: 1.25rem;

	--tint: #{$color-brand-blueAlt};

	@include media-lg {
		padding: 1.25rem 2.5rem;
	}

	&:after {
		display: none;
	}

	li {
		display: block;

		& + li {
			border-top: 3px solid
				mix($color-brand-blueAlt, $color-brand-white, 80%);
		}
	}

	a {
		@include link-inverted;
		@include link-plain;
		display: block;
		text-align: left;
		padding: 1.25rem 0 calc(1.25rem - 3px);
	}
}

[role='menubar'] li:focus-within [role='menu'],
[role='menubar'] li:hover [role='menu'],
[aria-haspopup='true']:hover + [role='menu'],
[aria-haspopup='true']:focus + [role='menu'],
[aria-expanded='true'] + [role='menu'] {
	display: block;
}
