.tabs {
	border-left: 3px solid $color-brand-blue;

	@include media-lg {
		border-left: unset;
		border-bottom: 3px solid $color-brand-blue;
	}

	ul,
	li,
	a,
	strong {
		display: block;
	}

	ul {
		@include media-lg {
			display: flex;
			flex-flow: row nowrap;
		}
	}

	a,
	strong {
		padding: 1.3rem 1.5rem 1.2rem;
		font-weight: 600;

		@include media-lg {
			padding: 1.3rem 2.5rem 1.2rem;
		}
	}

	a {
		@include link-plain;
	}

	strong {
		color: $color-brand-white;
		background: $color-brand-blue;
	}
}
