{{- define "before-page" }}
	{{ partial "contact.html" (dict "context" . "class" "t-home__contact") }}

	{{- with .Params.stage }}
	<figure class="stage">
		<img src="{{ .src }}" alt="{{ .alt }}" width="{{ .width }}" height="{{ .height }}">
	</figure>
	{{- end }}

	<div class="statement t-home__statement">
		<blockquote>
			<p>{{ htmlUnescape .Params.statement }}</p>
		</blockquote>
	</div>
{{- end }}

{{- define "main" }}
	<main class="main main--grid">
		{{ .Content }}

		<aside class="sidebar">
			{{ partial "follow-us.html" . }}
		</aside>
	</main>
{{- end }}
