{{- define "before-page" }}
	{{ partial "contact.html" (dict "context" . "class" "t-home__contact")  }}

	<div class="statement t-home__statement">
		<blockquote>
			<p>{{ htmlUnescape .Params.statement }}</p>
		</blockquote>
	</div>
{{- end }}

{{- define "main" }}
	<a id="workshops"></a>
	{{ .Content }}
{{- end }}

{{- define "after-main" }}
	<aside class="sidebar">
		<h2>Anderswo</h2>

		<ul>
			<li><a href="https://www.facebook.com/habitataugsburg/">Facebook</a></li>
			<li><a href="https://www.instagram.com/das_habitat_augsburg/">Instagram</a></li>
			<li><a href="https://twitter.com/@habitataugsburg">Twitter</a></li>
		</ul>
	</aside>
{{- end }}
