{{- define "before-page" }}
	{{- if .Params.statement }}
	<div class="statement">
		<blockquote>
			<p>{{ htmlUnescape .Params.statement }}</p>
		</blockquote>
	</div>
	{{- end }}
{{- end }}

{{- define "main" }}
	{{ .Content }}
{{- end }}

{{- define "after-main" }}
	<aside class="sidebar">
		<h2>Öffnungszeiten</h2>

		<dl>
			<dt>Freitag &amp; Samstag</dt>
			<dd>15 bis 21 Uhr</dd>

			<dt>Sonntag</dt>
			<dd>11 bis 17 Uhr</dd>
		</dl>

		<h2>Anfahrt</h2>

		<p>
			Eberlestraße 29<br />
			Gebäude D1 (ehemals B)<br />
			86157 Augsburg
		</p>

		<p>In den ehemaligen Räumen der Jungen&nbsp;Werkstatt.</p>

		<h2>Anderswo</h2>

		<ul>
			<li><a href="https://www.facebook.com/habitataugsburg/">Facebook</a></li>
			<li><a href="https://www.instagram.com/das_habitat_augsburg/">Instagram</a></li>
			<li><a href="https://twitter.com/@habitataugsburg">Twitter</a></li>
		</ul>
	</aside>
{{- end }}
