html,
body,
:after,
:before {
	font-family: 'IBM Plex Sans Web', sans-serif;
}

html,
body {
	background: $color-brand-white;
	color: $color-brand-gray;
}

html {
	font-size: 10/16 * 100%; // 1rem == 10px
}

body {
	font-size: 1.5rem;
	line-height: 1.6;
}

.page {
	@include container;

	display: flex;
}

.sidebar {
	display: block;
	width: 30rem;
	flex: 1 0 auto;
	margin-left: $offset-horizontal * 3;
}

a {
	&,
	&:link,
	&:visited {
		margin: 0 -0.3rem;
		padding: 0 0.3rem;
		color: $color-brand-blue;
		text-decoration: none;
		font-weight: 600;
		box-shadow: inset 0 -0.3rem 0 0 transparentize($color-brand-blue, 0.8),
			0 0 0 0 transparentize($color-brand-blue, 0.8);
		transition: box-shadow 0.1s ease-in;
	}

	&:focus,
	&:hover {
		color: $color-brand-blueAlt;
		box-shadow: inset 0 -0.7rem 0 0 transparentize($color-brand-blue, 0.8),
			0 0.3rem 0 0 transparentize($color-brand-blue, 0.8);
		transition: box-shadow 0.2s ease-out;
	}
}
