html,
body,
:after,
:before,
*,
*:after,
*:before {
  font-family: 'IBM Plex Sans Web', sans-serif;
  box-sizing: border-box;
}

html,
body {
  background: $color-brand-white;
  color: $color-brand-black;
  font-weight: 450;
}

html {
  border-top: 0.5rem solid $brand-yellow;
  font-size: 10/16 * 100%; // 1rem == 10px
}

body {
  display: flex;
  flex-direction: column;
  min-height: 100vh;
  overflow-x: hidden;
  font-size: 1.5rem;
  line-height: calc(25 / 15);
}

figure {
  margin: 0;
  padding: 0;
}

nav ul, nav li {
  margin: 0;
  padding: 0;
  list-style: none;;
}

ul, ol, p, h1, h2, h3, h4 , h5, h6 {
  margin: 0;
  padding: 0;
}

ul, ol, p {
  * + & {
    margin-top: $spacing-lg;
  }
}

h1, h2, h3, h4 , h5, h6 {
  margin-bottom: $spacing-md;

  * + & {
    margin-top: $spacing-2xl;
  }
}

a,
a:link,
a:visited {
  color: $color-brand-blueAlt;
  text-decoration-color: transparentize($color-brand-blueAlt, 0.7);
  text-decoration-thickness: 2px;
  text-underline-offset: 0.1em;
}
