.site .lg\:mt\:sm {
  margin-top: $spacing-sm;
}

.site .lg\:mt\:md {
  margin-top: $spacing-md;
}

.site .lg\:mt\:lg {
  margin-top: $spacing-lg;
}

.site .lg\:mt\:xl {
  margin-top: $spacing-xl;
}

.site .lg\:mt\:2xl {
  margin-top: $spacing-2xl;
}

.site .lg\:mt\:3xl {
  margin-top: $spacing-3xl;
}
