@mixin box {
	--tint: rgba(0, 0, 0, 0);

	padding: 2rem 2.4rem;
	background: var(--tint);
	// prettier-ignore
	box-shadow:
		0 0 2px 0 transparentize($color-brand-gray, 0.9),
		0 2px 3px -2px transparentize($color-brand-gray, 0.77),
		0 3px 8px -3px transparentize($color-brand-gray, 0.77),
		0 7px 30px -5px transparentize($color-brand-gray, 0.77),
		0 0 90px -45px var(--tint);

	@include media-l {
		padding: 2.4rem 3.2rem;
	}

	&:after {
		display: block;
		content: '';
		height: 3px;
		margin: calc(#{1.2rem} - 2px) 0 calc(1.2rem - 1px);
		background: $color-brand-black;

		@include media-l {
			margin: calc(#{2.5rem + 1.25rem} - 2px) 0 calc(1.25rem - 1px);
		}
	}
}
