@mixin grid-columns() {
	display: grid;
	grid-template-columns: $grid-columns;
	grid-column-gap: $grid-column-gap;
	margin-left: 1.6rem;
	margin-right: 1.6rem;

	@include media-l {
		width: var(--grid-width);
		margin-left: auto;
		margin-right: auto;
	}
}
