.t\:home-main {
  grid-column: 1 / -1;
  grid-row: 2;
}

.t\:home-statement {
  margin: 0 0 $spacing-2xl;
  padding: 0;
  font-size: 2.8rem;
  line-height: 4.5rem;
}

.t\:home-departments {
  margin: $spacing-3xl 0 $spacing-2xl;
}

.t\:home-follow {
  margin-top: $spacing-lg;

  li + li {
    margin-top: $spacing-md;
  }

  a {
    display: flex;
    align-items: center;
  }

  svg {
    height: 1.3em;
    width: auto;
    margin-right: $spacing-sm;
  }
}
