{{- $page := (.Page.Site.GetPage (.Get "path")) }}
<div class="feature {{ if .Get "reverse" }}feature--reverse{{ end }}{{ with .Get "className" }} {{.}}{{ end }}">
	<h2 class="feature__title">
		<a href="{{ $page.RelPermalink }}">
			{{ $page.Title }}
		</a>
	</h2>

	<div class="feature__content">
		<a href="{{ $page.RelPermalink }}" class="feature__img" aria-hidden="true">
			<img src="{{ .Get "src" }}" alt="" width="{{ .Get "width" }}" height="{{ .Get "height" }}">
		</a>

		<div>
			{{- if isset $page.Params "description" }}
				<p>{{ $page.Params.description }}</p>
			{{- else }}
				{{- .Inner | markdownify }}
			{{- end }}
		</div>
	</div>
</div>
