.t-machine__up {
	@include media-lg {
		grid-row: 2;
		margin-bottom: calc(8 * var(--offset-vertical));
	}
}

.t-machine__stage {
	grid-row: 2;
}

.t-machine__technical {
	@include box;

	background: $color-brand-white;

	@include media-lg {
		margin: calc(-8 * var(--offset-vertical)) 0 0;
		grid-column: 1 / span 6;
	}
}

.t-machine__paginate {
	@include media-lg {
		grid-column: 7 / span 2;
	}
}

.t-machine__content {
	@include media-lg {
		grid-column: 3 / -3;
	}

	p:first-child {
		font-weight: 450;
		font-size: 1.9rem;
		line-height: calc(28 / 19);

		@include media-lg {
			font-size: 2.3rem;
			line-height: calc(40 / 23);
		}
	}
}
