{{- define "breadcrumbs" }}
	{{- if .p1.Parent }}
		{{- template "breadcrumbs" (dict "p1" .p1.Parent "p2" .p2 )  }}
	{{- else if not .p1.IsHome }}
		{{- template "breadcrumbs" (dict "p1" .p1.Site.Home "p2" .p2 )  }}
	{{- end }}

	<li{{ if eq .p1 .p2 }} class="active"{{ end }}>
		<a href="{{ .p1.RelPermalink }}">{{ or (.p1.Name) "Start" }}</a>
	</li>
{{- end }}

{{- if not .IsHome }}
	<nav class="breadcrumbs">
		<ol>
			{{ template "breadcrumbs" (dict "p1" . "p2" .) }}
		</ol>
	</nav>
{{- end }}
