<section class="contact" id="contact">
    <div class="container">
        <div class="row">
            <div class="col-lg-8 offset-lg-2 col-sm-8 offset-sm-2">

                <form method="POST" action="{{ .Site.Params.contact_form.action }}" data-toggle="validator">
                    <input type="hidden" name="accessKey" value="{{ .Site.Params.contact_form.actionkey }}">
                    <input type="text" name="honeypot" style="display:none">
                    <div class="" data-wow-duration="1.5s">
                        <div class="form-group col-lg-6">
                            <input class="form-control" type="text" name="name" id="name" placeholder="Name" required>
                            <div class="help-block with-errors"></div>
                        </div>
                        <div class="form-group col-lg-6">
                            <input class="form-control" type="email" id="email" name="email" placeholder="Email" required>
                            <div class="help-block with-errors"></div>
                        </div>
                        <div class="form-group col-lg-12">
                            <textarea class="form-control" name="message" id="message" rows="12" placeholder="Message"></textarea>
                            <div class="help-block with-errors"></div>
                        </div>
                        <input type="hidden" name="replyTo" value="@">
                        <input type="hidden" name="redirectTo" value="{{ .Site.Params.contact_form_redirectTo }}">
                        <div class="form-group col-lg-12 sub-button">
                            <button class="submit form-control hvr-icon-push" type="submit" value="Submit"> Senden </button>
                        </div>
                    </div>
                </form>

            </div>
        </div>
    </div>
</section>