<footer class="footer">
	<div class="footer__inner">
		<div class="footer__info">
		<img class="footer__logo" src="/assets/ui/logo.svg" alt="Das Habitat" width="207" height="80">

		<blockquote class="footer__claim">
			<p>
				Nährboden für die Zukunft.<br>Deine offene Werkstatt.
			</p>
		</blockquote>
			{{ partial "contact.html" (dict "context" .) }}
		</div>

		<nav>
			<div>
				<h3>Werkstätten</h3>
				<ul>
					<li>
						<a href="/bueros/">Büros</a>
					</li>
					<li>
						<a href="/schreinerei/">Schreinerei</a>
					</li>
					<li>
						<a href="/schlosserei/">Schlosserei</a>
					</li>
				</ul>
			</div>
			<div>
				<h3>Events</h3>
				<ul>
					<li>
						<a href="/repaircafe/">Repair-Café</a>
					</li>
				</ul>
			</div>
			<div>
				<h3>Informationen</h3>
				<ul>
					<li>
						<a href="/ueber-uns/">Über uns</a>
					</li>
					<li>
						<a href="/preise/">Preise &amp; Angebot</a>
					</li>
					<li>
						<a href="/kontakt">Kontakt &amp; Anfahrt</a>
					</li>
				</ul>
			</div>
		</nav>
	</div>

	<aside class="footer__sponsors">
		<div class="footer__inner">
			<h3>Unsere Sponsoren, Unterstützer, Stifter, Gönner und einfach fantatischen Partner.</h3>

			<ul class="sponsors">
				{{- range (shuffle .Site.Data.sponsoren) }}
					<li>
						<a href="{{ .href }}" target="_blank" ref="nofollow">
							<img src="/logos/{{ .id }}.svg" alt="{{ .name }} - {{ .description }}" height="50">
						</a>
					</li>
				{{- end }}
			</ul>

			<p>Du oder dein Unternehmen wollt uns und unser Projekt unterstützen? <a href="/kontakt">Meldet euch bei uns.</a></p>
		</div>
	</aside>

	<aside class="footer__note">
		<div class="footer__inner">

			<p class="footer__copyright">&copy; 2018–{{ now.Format "2006"}} Das Habitat Augsburg e.V.</p>
	<p class="footer__legal">
		<a href="/impressum/">Impressum</a>
		<a href="/datenschutz/">{{ with .Site.GetPage "/datenschutz" }}{{ .Title }}{{ end }}</a>
	</p>
		</div>
	</aside>
</footer>
