<footer class="footer">
	<div>
		<div>
			Das Habitat
			{{ partial "contact.html" (dict "context" .) }}
		</div>

		<nav>
			<div>

			</div>
			<div>

			</div>
		</nav>
	</div>

	<div>
		<p>&copy; 2018–2019 Das Habitat Augsburg e.V.</p>
		<p>
			<a href="/impressum/">Impressum</a>
			<a href="/datenschutz/">Datenschutz</a>
		</p>
	</div>

	<div>
		<h3>Unsere Sponsoren, Unterstützer, Stifter, Gönner und einfach fantatischen Partner.</h3>


		<p>Du oder dein Unternehmen wollt uns unterstützen? <a href="/kontakt">Meldet euch bei uns.</a></p>
	</div>
</footer>
