{{- $currentPage := .context -}}
{{- range (where (where .context.Site.Menus.main "Weight" "le" .to) "Weight" "ge" .from)}}
	{{- $isCurrent := ($currentPage.IsMenuCurrent "main" .) }}
	<li role="none">
		{{ if .HasChildren }}
			<a href="{{ .URL }}" class="{{ if $isCurrent }}active{{ end }}" aria-expanded="false" aria-haspopup="true" role="menuitem" tabindex="0">
				{{ .Name }}
			</a>
		{{ else }}
			<a href="{{ .URL }}" class="{{ if $isCurrent }}active{{ end }}" role="menuitem">
				{{ .Name }}
			</a>
		{{ end }}
		{{ if .HasChildren }}
			<ul class="sub-menu" role="menu" aria-hidden="true" aria-label="{{ .Name }}">
			{{ range .Children }}
				{{- $isCurrent := ($.IsMenuCurrent "main" .) }}
				<li>
					<a href="{{ .URL }}" class="{{ if $isCurrent }}active{{ end }}" tabindex="0">
						{{ .Name }}
					</a>
				</li>
			{{ end }}
			</ul>
		{{ end }}
	</li>
{{- end }}