{{- $current := print "/" (index (split .context.URL "/") 1) "/" -}}
{{- $menu := index .context.Site.Menus .menu -}}
{{- $active := false -}}
{{- range $menu -}}
	{{- if eq .URL $current -}}
		{{- $active := true -}}
	{{- end -}}
{{- end -}}

<li role="none">
	<a href="{{ range first 1 $menu }}{{ .URL }}{{ end }}" class="{{- range $menu -}}{{- if eq .URL $current -}}active{{- end -}}{{- end -}}" aria-expanded="false" aria-haspopup="true" role="menuitem" tabindex="0">
		{{ .title }}
	</a>
	<ul class="sub-menu" role="menu" aria-hidden="true" aria-label="{{ .Name }}">
	{{- range $menu }}
		{{- $isCurrent := ($.context.IsMenuCurrent (index $menu 0).Menu .) }}
		<li>
			<a href="{{ .URL }}" class="{{ if $isCurrent }}active{{ end }}" tabindex="0">
				{{ .Name }}
			</a>
		</li>
	{{- end }}
	</ul>
</li>