$color-brand-yellow: #edeb4c;
$color-brand-orange: #fa9e00;
$color-brand-red: #e35f42;
$color-brand-blue: #394475;
$color-brand-blueAlt: #4773a8;
$color-brand-green: #008a59;
$color-brand-greenAlt: #45a734;
$color-brand-white: #fcfcfa;
$color-brand-black: #0f0f0e;
$color-brand-gray: mix(#4c4d4a, $color-brand-white, 85%);
$color-brand-gray-inverted: mix($color-brand-gray, $color-brand-white, 50%);
$color-brand-gray-10: transparentize($color-brand-gray, 0.9);
$color-brand-gray-50: mix($color-brand-gray, $color-brand-white, 50%);
$color-brand-pale: #809979;

$breakpoint-l: 880px;

:root {
	--offset-vertical: 2.4rem;
	--offset-horizontal: 2.4rem;
	--offset-outer: 1.6rem;

	--grid-column: calc(calc(100vw - calc(var(--offset-outer) * 2)) / 6);
	--grid-colums: repeat(6, 1fr);
	--grid-column-gap: var(--offset-horizontal);
	--grid-row-gap: var(--offset-vertical);
	--grid-width: calc(6 * var(--grid-column) + 5 * var(--grid-column-gap));

	--color-brand-yellow: #{$color-brand-yellow};
	--color-brand-orange: #{$color-brand-orange};
	--color-brand-red: #{$color-brand-red};
	--color-brand-blue: #{$color-brand-blue};
	--color-brand-blueAlt: #{$color-brand-blueAlt};
	--color-brand-green: #{$color-brand-green};
	--color-brand-greenAlt: #{$color-brand-greenAlt};
	--color-brand-white: #{$color-brand-white};
	--color-brand-black: #{$color-brand-black};
	--color-brand-gray: #{$color-brand-gray};
	--color-brand-gray-inverted: #{$color-brand-gray-inverted};
	--color-brand-pale: #{$color-brand-pale};

	@media (min-width: $breakpoint-l) {
		--grid-column: calc(90 / 1200 * 100vw);
		--grid-colums: repeat(8, var(--grid-column));
		--grid-column-gap: 4rem;
		--grid-width: calc(8 * var(--grid-column) + 7 * var(--grid-column-gap));
		--offset-vertical: 2.5rem;
	}

	@media (min-width: 1441px) {
		--grid-width: 114.4rem;
		--grid-column: calc(calc(var(--grid-width) - 7 * var(--grid-column-gap)) / 8);
	}

	--offset-vertical-2: calc(2 * var(--offset-vertical));
	--offset-vertical-3: calc(3 * var(--offset-vertical));
	--offset-vertical-4: calc(4 * var(--offset-vertical));
}

$grid-columns: var(--grid-colums);
$grid-column-gap: var(--grid-column-gap);
$grid-row-gap: var(--grid-row-gap);
