$color-brand-yellow: #edeb4c;
$color-brand-orange: #fa9e00;
$color-brand-red: #e35f42;
$color-brand-blue: #394475;
$color-brand-blueAlt: #4773a8;
$color-brand-green: #008a59;
$color-brand-greenAlt: #45a734;
$color-brand-white: #fcfcfa;
$color-brand-black: #0f0f0e;
$color-brand-gray: mix(#4c4d4a, $color-brand-white, 75%);
$color-brand-gray-inverted: mix(#4c4d4a, $color-brand-white, 50%);
$color-brand-pale: #809979;

$breakpoint-l: 880px;

:root {
	--grid-column: calc(28 / 320 * 100vw);
	--grid-colums: 1fr repeat(6, var(--grid-column)) 1fr;
	--grid-column-gap: 2.4rem;
	--grid-inner-columns: repeat(8, var(--grid-column));
	--offset-vertical: 2.4rem;

	--col2: calc(2 * var(--grid-column) + 1 * var(--grid-column-gap));
	--col3: calc(3 * var(--grid-column) + 2 * var(--grid-column-gap));

	--color-brand-yellow: #{$color-brand-yellow};
	--color-brand-orange: #{$color-brand-orange};
	--color-brand-red: #{$color-brand-red};
	--color-brand-blue: #{$color-brand-blue};
	--color-brand-blueAlt: #{$color-brand-blueAlt};
	--color-brand-green: #{$color-brand-green};
	--color-brand-greenAlt: #{$color-brand-greenAlt};
	--color-brand-white: #{$color-brand-white};
	--color-brand-black: #{$color-brand-black};
	--color-brand-gray: #{$color-brand-gray};
	--color-brand-gray-inverted: #{$color-brand-gray-inverted};
	--color-brand-pale: #{$color-brand-pale};

	@media (min-width: $breakpoint-l) {
		--grid-column: calc(90 / 1200 * 100vw);
		--grid-colums: 1fr repeat(8, var(--grid-column)) 1fr;
		--grid-column-gap: 4rem;
		--grid-inner-columns: repeat(8, var(--grid-column));
		--offset-vertical: 2.5rem;
	}
}

$grid-columns: var(--grid-colums);
$grid-column-gap: var(--grid-column-gap);
$grid-inner-columns: var(--grid-inner-columns);

$offset-vertical: var(--offset-vertical);
