$color-brand-yellow: #edeb4c;
$color-brand-orange: #fa9e00;
$color-brand-red: #e35f42;
$color-brand-blue: #394475;
$color-brand-blueAlt: #4773a8;
$color-brand-green: #008a59;
$color-brand-greenAlt: #45a734;
$color-brand-white: #fcfcfa;
$color-brand-black: #0f0f0e;
$color-brand-gray: mix(#4c4d4a, $color-brand-white, 75%);
$color-brand-gray-inverted: mix(#4c4d4a, $color-brand-white, 50%);
$color-brand-pale: #809979;

$breakpoint-l: 880px;

:root {
	--grid-column: calc(28 / 320 * 100vw);
	--grid-colums: 1fr repeat(6, var(--grid-column)) 1fr;
	--grid-column-gap: 2.4rem;
	--inner-grid-columns: repeat(8, var(--grid-column));
	--offset-vertical: 2.4rem;

	@media (min-width: $breakpoint-l) {
		--grid-column: calc(90 / 1200 * 100vw);
		--grid-colums: 1fr repeat(8, var(--grid-column)) 1fr;
		--grid-column-gap: 4rem;
		--inner-grid-columns: repeat(8, var(--grid-column));
		--offset-vertical: 2.5rem;
	}
}

$grid-columns: var(--grid-colums);
$grid-column-gap: var(--grid-column-gap);
$inner-grid-columns: var(--inner-grid-columns);

$offset-vertical: var(--offset-vertical);
