html,
body,
:after,
:before {
	font-family: 'IBM Plex Sans Web', sans-serif;
}

html,
body {
	background: $color-brand-white;
	color: $color-brand-black;
	font-weight: 450;
}

html {
	font-size: 10/16 * 100%; // 1rem == 10px
}

body {
	font-size: 1.5rem;
	line-height: calc(25 / 15);
}

.main--grid {
	@include grid;

	> * {
		grid-column: 1 / -1;
	}
}

a {
	@include link;
}

figure {
	display: block;
	margin: 0;
	padding: 0;

	img {
		display: block;
		max-width: 100%;
		height: auto;
	}
}

/* Temp */

.anniversary {
	min-height: 20rem;
	padding: 4rem 4rem 4rem 50vw;
	background: $color-brand-black url('/anniversary.svg') top left no-repeat;
	background-size: 50vw auto;
	border: 2rem solid $color-brand-white;
	color: $color-brand-white;
}

.anniversary * {
	max-width: 60rem;
	padding: 0.5rem 1rem;
	color: inherit;
	background: $color-brand-black;
	border-radius: 0.5rem;
}

.anniversary * + * {
	margin-top: 1rem;
}

@media (max-width: 1000px) {
	.anniversary {
		background-size: 100vw auto;
		padding: 40vw 4rem 4rem;
	}
}
