html,
body,
:after,
:before {
	font-family: 'IBM Plex Sans Web', sans-serif;
}

html,
body {
	background: $color-brand-white;
	color: $color-brand-black;
	font-weight: 400;
}

html {
	font-size: 10/16 * 100%; // 1rem == 10px
}

body {
	font-size: 1.5rem;
	line-height: calc(25 / 15);
}

.site {
	@include grid-columns;

	> * {
		grid-column: 2 / -2;
	}
}

.main--grid {
	@include grid-inner-columns;

	grid-row-gap: calc(3 * var(--offset-vertical));

	> * {
		grid-column: 1 / -1;
	}
}

a {
	@include link;
}
