.cs1 {
	grid-column-start: 1;
}

.cs2 {
	grid-column-start: 2;
}

.cs3 {
	grid-column-start: 3;
}

.cs4 {
	grid-column-start: 4;
}

.cs5 {
	grid-column-start: 5;
}

.cs6 {
	grid-column-start: 6;
}

.cs7 {
	grid-column-start: 7;
}

.c1 {
	grid-column-end: span 1;
}

.c2 {
	grid-column-end: span 2;
}

.c3 {
	grid-column-end: span 3;
}

.c4 {
	grid-column-end: span 4;
}

.c5 {
	grid-column-end: span 5;
}

.c-1 {
	grid-column-end: -1;
}

.c-2 {
	grid-column-end: -2;
}

.c-3 {
	grid-column-end: -3;
}

.col1-s4 {
	grid-column: 1 / span 4;
}

.col3-s4 {
	grid-column: 3 / span 4;
}

.col7--1 {
	grid-column: 7 / -1;
}

.g-end {
	align-self: end;
}
