@for $i from 1 through 6 {
	.cs#{$i}-sm {
		grid-column-start: $i;
	}
}

@for $i from 1 through 6 {
	.cs#{$i}-sm {
		grid-column-end: span $i;
	}
}

@for $i from 1 through 6 {
	.cs#{$i}-sm {
		grid-column-end: -$i;
	}
}

@include media-l {
	@for $i from 1 through 7 {
		.cs#{$i}-lg {
			grid-column-start: $i;
		}
	}

	@for $i from 1 through 7 {
		.cs#{$i}-lg {
			grid-column-end: span $i;
		}
	}

	@for $i from 1 through 7 {
		.cs#{$i}-lg {
			grid-column-end: -$i;
		}
	}
}

.g-end {
	align-self: end;
}
