.page {
	@include grid-columns;

	> * {
		grid-column: 1 / -1;
	}
}

.page__title {
	margin-top: var(--offset-vertical);

	@include media-lg {
		margin-top: 0;

		& + .stage {
			margin-top: calc(-2 * var(--grid-row-gap));
			grid-row: 2;

			& + .statement {
				grid-row: 2;
			}
		}
	}
}

.page__title--statement {
	margin-top: var(--offset-vertical);

	@include media-lg {
		margin-top: var(--offset-vertical-2);
		grid-row: 1;
		grid-column: 3 / span 4;
	}
}
