h1,
h2,
h3,
h4,
h5,
h6 {
	margin: 0;
	font-weight: 600;
	color: $color-brand-black;
}

strong,
b {
	font-weight: 600;
}

table,
ul,
ol,
dl,
p {
	margin: 0;
	padding: 0;
}

h1,
.h1 {
	margin-bottom: 2.5rem;

	* + & {
		margin-top: 10rem;
	}
}

h2,
.h2 {
	margin-bottom: 1rem;

	* + & {
		margin-top: 4rem;
	}
}

h3,
.h3 {
	font-size: inherit;
	font-weight: 600;
	text-transform: uppercase;
	margin-bottom: 1rem;

	* + & {
		margin-top: 2rem;
	}
}

li,
dt,
dd,
blockquote {
	margin: 0;
	padding: 0;
}

table {
	width: 100%;
	margin-left: -0.4rem;
	margin-right: -0.4rem;
	border-spacing: 0;
	border-collapse: collapse;
	border: 0;
}

th,
td {
	text-align: left;
	padding: 0.5rem 1rem;
	vertical-align: top;
	background: mix($color-brand-pale, $color-brand-white, 10%);
	border: 0.4rem solid $color-brand-white;
}

.meta {
	color: mix($color-brand-gray, $color-brand-green, 50%);
}

.price {
	display: block;
	font-size: 3rem;
	line-height: 3rem;
}

.large {
	font-weight: 500;
	color: $color-brand-gray;

	font-size: 1.6rem;
	line-height: calc(28 / 16);

	@include media-l {
		font-size: 1.8rem;
		line-height: calc(35 / 18);
	}
}

.larger {
	font-weight: 500;
	font-size: 1.9rem;
	line-height: calc(28 / 19);

	@include media-l {
		font-size: 2.3rem;
		line-height: calc(40 / 23);
	}
}

.aux {
	position: absolute;
	margin: 0;
	padding: 0;
	height: 0;
	overflow: hidden;
}
