h1,
h2,
h3,
h4,
h5,
h6 {
	margin: 0;
	font-weight: 600;
	color: $color-brand-black;
}

strong,
b {
	font-weight: 600;
}

table,
ul,
ol,
dl,
p {
	margin: 0;
	padding: 0;
}

h1,
.h1 {
	margin-bottom: 2.5rem;
	font-size: 2.8rem;
	line-height: calc(40 / 28);

	* + & {
		margin-top: 10rem;
	}
}

h2,
.h2 {
	margin-bottom: calc(var(--offset-vertical) / 2);

	* + & {
		margin-top: var(--offset-vertical-2);
	}
}

h3,
.h3 {
	font-size: 1.8rem;
	line-height: calc(25 / 18);
	font-weight: 600;

	* + & {
		margin-top: 2rem;
	}
}

li,
dt,
dd,
blockquote {
	margin: 0;
	padding: 0;
}

p,
table,
ul,
ol,
dl {
	* + & {
		margin-top: var(--offset-vertical);
	}

	h1 + &,
	.h1 + &,
	h2 + &,
	.h2 + &,
	h3 + &,
	.h3 + & {
		margin-top: calc(var(--offset-vertical) / 2);
	}
}

ul,
ol {
	padding-left: 2.5rem;

	li + li {
		margin-top: calc(var(--offset-vertical) / 4);
	}
}

nav {
	display: block;

	ul,
	li {
		margin: 0;
		padding: 0;
		list-style: none;
	}
}

.meta {
	color: mix($color-brand-gray, $color-brand-green, 50%);
}

.large {
	font-weight: 450;
	color: $color-brand-gray;

	font-size: 1.6rem;
	line-height: calc(28 / 16);

	@include media-lg {
		font-size: 1.8rem;
		line-height: calc(35 / 18);
	}
}

.larger {
	@include typography-larger;
}

.align-right {
	text-align: right;
}

.aux {
	position: absolute;
	margin: 0;
	padding: 0;
	height: 0;
	overflow: hidden;
}
