@mixin link {
	&,
	&:link,
	&:visited {
		color: $color-brand-blueAlt;
		text-decoration: none;
		box-shadow: 0 2px 0 0 transparentize($color-brand-blueAlt, 0.7);
	}

	&:focus,
	&:hover,
	&.active {
		color: $color-brand-blue;
		box-shadow: 0 2px 0 0 $color-brand-blue;
	}
}

@mixin link-plain {
	&,
	&:link,
	&:visited,
	&:hover,
	&:focus,
	&:active {
		box-shadow: none;
	}
}

@mixin link-plain-default {
	&,
	&:link,
	&:visited {
		box-shadow: none;
	}

	&:focus,
	&:hover,
	&.active {
		color: $color-brand-blue;
		box-shadow: 0 2px 0 0 $color-brand-blue;
	}
}

@mixin link-inverted {
	&,
	&:link,
	&:visited {
		color: $color-brand-white;
		text-decoration: none;
		box-shadow: 0 2px 0 0 transparentize($color-brand-white, 0.7);
	}

	&:focus,
	&:hover,
	&.active {
		color: $color-brand-white;
		box-shadow: 0 2px 0 0 $color-brand-white;
	}
}
